/* CONFIG ========================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: gray;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  appearance: none;
}

/* LOGIN ======================================================================================== */
.login {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  transition: opacity 1s;
}

.login img {
  margin: 75px 0 100px 0;
}

.submit,
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading img {
  margin: 0;
}

/* Input */
.submit input {
  width: 75vw;
  height: 54px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
  outline: none;
  transition: border 0.25s;
}

.submit input::placeholder {
  color: #AEAEAE;
}

.submit input:focus {
  border: 1px solid #696969;
}

/* Button */
.submit button {
  padding: 12px 30px;
  font-size: 18px;
  color: #696969;
  border: none;
  background-color: #E7E7E7;
  border-radius: 9px;
  transition: all 0.1s;
}

.submit .valid {
  background-color: #28BB25;
  color: #FFFFFF;
}

/* Text */
.loading p {
  margin-top: 20px;
  font-size: 18px;
}

/* CHATROOM ======================================================================================= */
.chatroom {
  height: 100vh;
  background-color: #F3F3F3;
}

/* Header ============================== */
header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;

  background-color: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
  width: 75px;
}

header ion-icon {
  font-size: 40px;
}

/* Main ======================================= */
main {
  height: 100%;
  padding: 80px 0;
}

.chat {
  height: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.chat div {
  background-color: white;
  padding: 12px 10px;
  line-height: 20px;
  font-size: 15px;
}

.chat .status {
  background-color: #DCDCDC;
}

.chat .private-message {
  background-color: #FFDEDE;
}

.time {
  color: #AAAAAA;
}

.user,
.contact {
  font-weight: bold;
}

/* Chatbox (footer) ======================================= */
.chatbox {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 16px 32px;
  display: flex;
  align-items: center;

  background-color: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.chatbox input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 18px;
  margin-top: -10px;
}

.chatbox input::placeholder {
  font-style: italic;
  color: #3c3c3c;
}

.chatbox button {
  font-size: 30px;
  margin-left: 16px;
  background-color: transparent;
  border: none;
  line-height: 0;
}

.chatbox small {
    position: fixed;
    left: 34px;
    bottom: 14px;
    font-size: 14px;
    font-weight: 300;
    user-select: none;
}

/* SIDEBAR =========================================== */
aside {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 16px;
}

aside .bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s;
}

aside form {
  z-index: 3;
  position: fixed;
  width: 300px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: white;
  transition: transform 0.5s;
}

aside fieldset {
  margin: 30px 15px;
  font-weight: bold;
}

aside legend {
  text-align: center;
  padding: 0 25px;
}

aside ul {
  font-weight: normal;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

aside .user-list {
  max-height: calc(100vh - 240px);
  position: relative;
  overflow-y: scroll;
}

aside ion-icon {
  font-size: 20px;
  margin-right: 8px;
  line-height: 0;
  margin-bottom: 2px;
}

aside label {
  display: inline-flex;
  align-items: center;
  width: 90%;
}

aside span {
  word-wrap: break-word;
  width: 200px;
}

input:checked+label::after {
  content: "✔";
  position: fixed;
  right: 30px;
  color: #28BB25;
  font-weight: bold;
}

/* OTHERS ============================================================================================ */
.fade {
  opacity: 0;
}

.slide {
  transform: translateX(100%);
}

.hide {
  display: none;
}

.statistics {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;
}
